################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/.vs/yovip/v15
/libs
/packages
/yovip.api/bin/Release/PublishOutput/bin
/yovip.api/bin/roslyn
/yovip.api/obj
/yovip.core/bin/Debug
/yovip.core/obj/Debug
/yovip.api/bin/WebGrease.dll
/yovip.api/bin/vip.core.pdb
/yovip.api/bin/vip.core.dll
/yovip.api/bin/Vip.Api.pdb
/yovip.api/bin/Vip.Api.dll.config
/yovip.api/bin/Vip.Api.dll
/yovip.api/bin/System.Web.WebPages.xml
/yovip.api/bin/System.Web.WebPages.Razor.xml
/yovip.api/bin/System.Web.WebPages.Razor.dll
/yovip.api/bin/System.Web.WebPages.dll
/yovip.api/bin/System.Web.WebPages.Deployment.xml
/yovip.api/bin/System.Web.WebPages.Deployment.dll
/yovip.api/bin/System.Web.Razor.xml
/yovip.api/bin/System.Web.Razor.dll
/yovip.api/bin/System.Web.Optimization.xml
/yovip.api/bin/System.Web.Optimization.dll
/yovip.api/bin/System.Web.Mvc.xml
/yovip.api/bin/System.Web.Mvc.dll
/yovip.api/bin/System.Web.Http.xml
/yovip.api/bin/System.Web.Http.WebHost.xml
/yovip.api/bin/System.Web.Http.WebHost.dll
/yovip.api/bin/System.Web.Http.dll
/yovip.api/bin/System.Web.Helpers.xml
/yovip.api/bin/System.Web.Helpers.dll
/yovip.api/bin/System.Net.Http.Formatting.xml
/yovip.api/bin/System.Net.Http.Formatting.dll
/yovip.api/bin/org.joey.common.pdb
/yovip.api/bin/org.joey.common.dll
/yovip.api/bin/Newtonsoft.Json.xml
/yovip.api/bin/Newtonsoft.Json.dll
/yovip.api/bin/Microsoft.Web.Infrastructure.dll
/yovip.api/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/yovip.api/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/yovip.api/bin/Microsoft.ApplicationInsights.xml
/yovip.api/bin/Microsoft.ApplicationInsights.dll
/yovip.api/bin/Microsoft.AI.WindowsServer.xml
/yovip.api/bin/Microsoft.AI.WindowsServer.dll
/yovip.api/bin/Microsoft.AI.Web.xml
/yovip.api/bin/Microsoft.AI.Web.dll
/yovip.api/bin/Microsoft.AI.ServerTelemetryChannel.xml
/yovip.api/bin/Microsoft.AI.ServerTelemetryChannel.dll
/yovip.api/bin/Microsoft.AI.PerfCounterCollector.dll
/yovip.api/bin/Microsoft.AI.DependencyCollector.xml
/yovip.api/bin/Microsoft.AI.DependencyCollector.dll
/yovip.api/bin/Microsoft.AI.Agent.Intercept.dll
/yovip.api/bin/Autofac.xml
/yovip.api/bin/Autofac.dll
/yovip.api/bin/ApplicationInsights.config
/yovip.api/bin/Antlr3.Runtime.pdb
/yovip.api/bin/Antlr3.Runtime.dll
